body {
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  background: #000;
}

h1 {
  font-size: 50px;
  margin-top: 50px;
  color: #ffffff;
}

#timer {
  font-size: 100px;
  margin-top: 50px;
  color: #ffffff;
  margin: 0 auto; 
}

#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: 0 auto; 
}


button {
  padding: 1.3em 3em;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  background-color: #f1eeee ;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Space Grotesk', sans-serif;
  margin: 35px 10px;
}

button:hover {
  background-color: #000000;
  box-shadow: 0px 15px 20px rgb(208, 94, 236);
  color: #fdfafa;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#fullscreen-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}




